<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhsj.business.point.mapper.PointMapper">
    <insert id="insertPoint" parameterType="com.zhsj.business.point.domain.PointPO">
        insert business_point
        (id, point_code, point_name, point_ratio, create_by, create_time)
        values (#{PO.id}, #{PO.pointCode}, #{PO.pointName},#{PO.pointRatio}, #{PO.createBy}, #{PO.createTime})
    </insert>
    <insert id="updatePoint" parameterType="com.zhsj.business.point.domain.PointPO">
        update business_point set point_name = #{PO.pointName},point_ratio = #{PO.pointRatio}
        where id = #{PO.id}
    </insert>
</mapper>
